.contact-container{
    width: 100%;
    height: 80vh;
}
.contacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.grey{
    width: 100%;
    color: var(--grey-font);
    text-align: center;
}
.grey:hover{
    text-decoration: underline;
}
