/* common classes*/
.detail-title{
    text-align: center;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-photo{
    width: 80%;
    min-width: 290px;
    max-width: 750px;
    text-align: center;
    margin: 1rem;
}
.details-about{
    width: 60%;
    margin: 1rem;
}
.det-photo:hover{
        box-shadow: none; /*2px 2px 6px var(--text-color);*/
}
.btn-git{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-git > img{
    width: 16px;
    margin-right: 10px;
}
