/* common block */
.header, .footer{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--nunito-font);
    color: var(--title-color);
    font-weight: 600;
    padding: 1.5rem;
}
.footer{
    justify-content:left;
}
.logo{
    width: 20%;
    min-width: 20rem;
    text-align: left;
}
.nav-menu{
    width: 90%;
}
.logo, .nav-menu{
    padding: 15px;
}
.nav-list{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.nav-item:hover{
    cursor: pointer;
    font-weight: 700;
}
.nav-item{
    color: var(--title-color);
}
.nav-item-active{
    text-decoration: underline;
    color: #888888;
   /* color: var(--yellow-color);*/
}
