@import "./normalize.css";
@import "./media.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&family=Playfair+Display:wght@700&family=Roboto:wght@500&display=swap');

html{
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-color: rgba(246, 243, 241, 0.8);/*#E5E5E5;*/
    --nunito-font: 'Nunito Sans', sans-serif;
    --playfair-font: 'Playfair Display', serif;
    --roboto-font: 'Roboto', sans-serif;
    --title-color: rgb(29, 29, 29);
    --text-color: rgb(75, 73, 73);
    --yellow-color: #FFC637;
    --yellow-dark:  #e0a103;
    transition: all 1s ease;
}
a{
    text-decoration: none;
    color: var(--title-color);
}
li{
    list-style: none;
}
.container{
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.intro-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
}
.about-info{
    flex-direction: row-reverse;
}

/*foto*/
.foto-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}    
.selfi{
    width: 90%;
    border-radius: 24px;
}

/*info*/
.info-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;  
    align-items: left;
}
.work-title{
    width: 100%;
    font-family: var(--nunito-font);
    font-weight: 700;
    color: var(--yellow-color);    
}
.title{
    width: 100%;
    font-family: var(--playfair-font);
    font-weight: 700;
    color: rgb(29, 29, 29);     
}
.about{
    width: 100%;
    font-family: var(--nunito-font);
    font-weight: 400;
    color: var(--text-color);    
    text-align: left;
}

/*buttons*/
.link-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
}
.btn{ 
    border: 1px solid var(--title-color);
    border-radius: 5px;
    font-family: var(--roboto-font);
    font-weight: 500;
    color: var(--title-color);
    width: 10rem;
    padding: 5px 8px;
    margin-right: 1.8rem;
    margin-top: 1.8rem;   
}
.btn:hover{
    cursor: pointer;    
}
.btn-color{
    text-align: center;
    border: 1px solid var(--yellow-color);
    background-color: var(--yellow-color);
}
.btn-white{
    border: 1px solid var(--title-color);    
}
.btn-project{
    border-radius: 2.4rem;
    padding: .8rem 2rem;
}
.btn-white:hover{
   /* box-shadow: 2px 2px 2px var(--text-color);*/
    background-color:rgb(189, 189, 189);
}
.btn-color:hover{
    background-color:var(--yellow-dark);
    /*box-shadow: 2px 2px 2px var(--text-color);*/
}  

