@media screen and (max-width: 450px){
    .header{
        gap: 1.5rem;   
        font-size: 1.4rem;
    }
    .footer{
        text-align: left;
    }
    
    .nav-list{
        display: none;
    }
    .nav-menu-mobile{
        display: block;
        position: fixed;
        right: 2rem;
        top: 2.9rem;
    }
    .nav-menu.open .nav-list{
        position: fixed;
        top: 5vh;
        right: 2rem;
        width: fit-content;
        height: fit-content;
        background-color: rgba(246, 243, 241);
        z-index: 2;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        row-gap: 2.5rem; 
        border-radius: 2%;
        box-shadow: 5px 2px 8px rgb(170, 169, 169);    
    }
   
    .intro-info{
        text-align: center;
        gap: 4.5rem;
    } 
    .info-container{
        max-width: 90%;
        align-items: center;
    }
    .foto-container{
        max-width: 45%;
        min-width: 250px;
    }   
    
    .about{
        width: 70%;
        text-align: center;
        font-size: 1.4rem;
    }
    .about-info{
        flex-direction: column;
    }
    .work-title{
        font-size: 1.4rem;    
        letter-spacing: .1rem;
    }
    .title{
        font-size: 2.2rem;    
    }
    .detail-title{
        font-size: 2.2rem;
    }
    .title-project{
        font-size: 1.6rem;
    }
    .title-contacts{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 1.2rem;
    }
    .link-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 450px){
    .header, footer{
        gap: 2rem;   
        font-size: 1.4rem;
    }
    .nav-list{
        display: none;
    }
    
    .nav-menu-mobile{
        display: block;
        position: fixed;
        right: 2rem;
        top: 2.9rem;
    }
    .nav-menu.open .nav-list{
        position: fixed;
        top: 5vh;
        right: 2rem;
        width: fit-content;
        height: fit-content;
        background-color: rgba(246, 243, 241);
        z-index: 2;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        row-gap: 2.5rem; 
        border-radius: 2%;
        box-shadow: 5px 2px 8px rgb(170, 169, 169);    
    }
    .intro-info{
        text-align: center;
        gap: 4.5rem;
    } 
    .info-container{
        max-width: 90%;
        align-items: center;
    }
    .foto-container{
        width: 300px;
    }   
    .about{
        max-width: 100%;
        text-align: left;
        font-size: 1.4rem;
    }
    .about-info{
        flex-direction: column;
    }
    .work-title{
        font-size: 1.4rem;    
        letter-spacing: .1rem;
    }
    .title{
        font-size: 2.2rem;    
    }
    .detail-title{
        font-size: 2.2rem;
    }
    .title-project{
        font-size: 1.6rem;
    }
    .title-contacts{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 1.2rem;
    }
    .link-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 576px){
    .header, footer{
        gap: 2.5rem;   
        font-size: 1.4rem;
    }
    .nav-list{
        display: none;
    }
    .nav-menu-mobile{
        display: block;
        position: fixed;
        right: 2rem;
        top: 2.9rem;
    }
    .nav-menu.open .nav-list{
        position: fixed;
        top: 5vh;
        right: 2rem;
        width: fit-content;
        height: fit-content;
        background-color: rgba(246, 243, 241);
        z-index: 2;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        row-gap: 2.5rem; 
        border-radius: 2%;
        box-shadow: 5px 2px 8px rgb(170, 169, 169);    
    }
    .intro-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    } 
    .info-container{
        max-width: 45%;
    }
    .foto-container{
        min-width: 350px;
    }   
    .about-info{
        flex-direction: column;
    }
    .work-title{
        font-size: 1.4rem;    
        letter-spacing: .1rem;
    }
    .title{
        font-size: 2.2rem;    
    }
    .about{
        text-align: left;
        font-size: 1.4rem;
    }
    .detail-title{
        font-size: 2.2rem;
    }
    .title-project{
        font-size: 1.6rem;
    }
    .title-contacts{
        font-size: 1.8rem;
    }
    .btn{
        font-size: 1.2rem;
        text-align: center;
    }
    .link-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 768px){
    .header, footer{
        gap: 1.5rem;   
        font-size: 1.6rem;
    }   
    .nav-menu-mobile{
        display: none;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .nav-list{
        display: flex;
    }
    .info-container{
        max-width: 45%;
        align-items: left;
    }
    .foto-container{
        width: 350px;
    } 
    .intro-info{
        display: flex;
        flex-direction: column;
        justify-content: left;   
    } 
   
    .work-title{
        font-size: 1.8rem;    
        letter-spacing: .1rem;
    }
    .title{
        font-size: 3rem;    
    }
    .about{
        font-size: 1.6rem;
    }
    .detail-title{
        font-size: 2.4rem;
    }
    .title-contacts{
        font-size: 2rem;
    }
    .title-project{
        font-size: 1.8rem;
    }
    .link-container{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .my-project-page{
        justify-content: center;
        align-items: center;
    }
    .btn{
        font-size: 1.4rem;
    }
   
}

@media screen and (min-width: 992px){
    .header, footer{
        gap: 2.5rem;   
        font-size: 1.8rem;
    }
    .nav-menu-mobile{
        display: none;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .nav-list{
        display: flex;
    }

    .info-container{
        max-width: 45%;
    }
    .foto-container{
        width: 400px;
    }    
    .work-title{
        font-size: 2rem;
        letter-spacing: .1rem;
        text-align: left;
    }
    .title{
        font-size: 3.6rem;    
        text-align: left; 
    }
    .about{
        font-size: 1.8rem;   
        margin-bottom: 3rem; 
    }
    .detail-title{
        font-size: 2.8rem;
    }
    .title-project{
        font-size: 2.6rem;
    }
    .title-contacts{
        font-size: 2.2rem;
    }
    .link-container{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .my-project-page{
        justify-content: center;
        align-items: center;
    }
    .btn{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1200px){   
    .header, footer{
        gap: 5rem;   
        font-weight: 600;
        font-size: 2rem;
       
    }

    .nav-menu-mobile{
        display: none;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .nav-list{
        display: flex;
    }

    .info-container{
        max-width: 45%;
        margin-left: 7rem;
        text-align: left;
    }
    .foto-container{
        width: 450px;
    }    
    .work-title{
        font-size: 2.2rem;
        letter-spacing: .15rem; 
    }
    .title{
        font-size: 4.6rem;     
    }
    .about{
        font-size: 2rem;
    }
    .detail-title, .title-project{
        font-size: 3.2rem;
    }
    .title-contacts{
        font-size: 2.4rem;
    }
    .btn{
        font-size: 1.8rem;
    }
    .link-container{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
        
    .my-project-page{
        justify-content: center;
        align-items: center;
    }
}
    
