/*projects*/
.projects-title{
    text-align: center; 
    margin-bottom: 4rem;
}
.projects-slider-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.projects-container{
    min-width: 300px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    gap: 2rem;
}
.photo{
    width: 100%;
    border-radius: 24px;
}
.photo:hover{
    box-shadow: 2px 2px 6px var(--text-color);
}

.title-project, .title-contacts{
    font-family: var(--roboto-font);
    color: var(--title-color);
    text-align: center; 
    letter-spacing: .1rem;
}
.title-project:hover{
    color: black;
    scale: 1.1;
}
.item{
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
