@media screen and (max-width: 450px){
    .slider-container{
        max-width: 30rem;
    }
    .item-project{
        min-width: 30rem;
    }
    .slide-btn{
        font-size: 2.8rem;
        padding: 0.4rem 1rem;
    }
}
@media screen and (min-width: 450px){
    .slider-container{
        width: 35rem;
    }
    .item-project{
        min-width: 35rem;
    }
    .slide-btn{
        font-size: 2.8rem;
        padding: 0.4rem 1rem;
    }
}
@media screen and (min-width: 576px){
    .slider-container{
        width: 45rem;
    }
    .item-project{
        min-width: 45rem;
    }
    .slide-btn{
        font-size: 3.2rem;
        padding: 0.4rem 1.5rem;
    }
}

@media screen and (min-width: 768px){
    .slider-container{
        width: 57.5rem;
    }
    .item-project{
        min-width: 57.5rem;
    }
    .slide-btn{
        font-size: 3.6rem;
        padding: 0.4rem 1.5rem;
    }
}

@media screen and (min-width: 992px){
    .slider-container{
        width: 75rem;
    }
    .item-project{
        min-width: 75rem;
    }
    .slide-btn{
        font-size: 4.2rem;
        padding: 0.4rem 1.6rem;
    }
}
@media screen and (min-width: 1200px){
    .slider-container{
        width: 90rem;
    }
    .item-project{
        min-width: 90rem;
    }
    .slide-btn{
        font-size: 4.2rem;
        padding: 0.4rem 1.8rem;
    }
}

/*common style*/
.slider-container{
   /*width: 589px;*/
   display: flex;
   justify-content: center;
   align-items: center;
}
.slide-window{
    width: 100%;;
    overflow: hidden;
}
.all-projects{
    display: flex; 
    transition: translate;
    transition-property: transform; 
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.slide-btn{
    width: 2rem;
    height: fit-content;
    opacity: 30%;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 1rem 2rem 3rem grey;
    text-align: center;
    color: var(--text-color);
    font-family: var(--roboto-font);
}
.slide-btn:hover{
    cursor: pointer;
    /*background-color: rgb(197, 195, 195);*/
    box-shadow: 2rem 2rem 3rem rgb(103, 103, 103);
    opacity: 100%;
}